.group-volume-controls {
    background-color: #ccc; /* Light grey background for the entire component */
    border-radius: 10px;
    width: 300px;
    margin: auto;
    font-family: Arial, sans-serif;
    bottom: 0;
    left: 50;
  }
  
  .header {
    text-align: left;
    color: white;
    background-color: #555;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .device {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Adjust padding for better spacing */
    background-color: #ccc; /* Light grey background for each device */
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .device.active {
    background-color: #ccc; /* Darker grey for active device */
  }
  
  .device-info {
    display: flex;
    align-items: center;
  }
  
  .room-name {
    margin-left: 10px;
  }
  
  .volume-control {
    display: flex;
    align-items: center;
    width: 290px; /* Adjust width for better alignment */
  }
  
  .volume-control .MuiSlider-root {
    margin: 0 10px;
  }
  
  .device:hover {
    background-color: #ddd; /* Hover effect for devices */
  }
  