.playback-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #555;
  padding: 10px 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 30px;
}

.now-playing-info {
  display: flex;
  align-items: center;
  flex: 2;
}

.track-info {
  display: flex;
  align-items: center;
}

.album-art {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.track-details {
  display: flex;
  flex-direction: column;
}

.track-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.track-artist {
  font-size: 14px;
  margin: 0;
}

.no-track {
  font-size: 16px;
  color: white;
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  flex: 1;
}

.volume-control {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  position: relative; /* Add relative positioning */
}

.volume-control .MuiSlider-root {
  color: black; /* Change slider color to black */
  width: 100%;
  max-width: 200px; /* Set a max width for the slider */
}

.volume-control .MuiSlider-thumb {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 2px solid currentColor;
}

.volume-control .MuiSlider-track {
  border: none;
}

.volume-control .MuiSlider-rail {
  opacity: 0.5;
  background-color: #bfbfbf;
}

.group-volume-controls-wrapper {
  position: absolute;
  bottom: 50px; /* Adjust this value to place the component above the PlaybackControls */
  right: 0;
  z-index: 1000;
}
